/* EVERYTHING */

:root {
    --darkcolor: #040406;
    --background: #dfdede;
    --light: #ffffff;
    --rasberry: #9e0059;
    --cherry: #ff0054;
    --orange: #e38125;
}

/* BODY */

body {
    font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
    background-color: var(--light);
    color: var(--dark-color);
    font-size: 100%;
    line-height: 1.5;
}

@media screen and (min-width: 480px) {
    body {
        display: block;
        margin: 0;
        border: none;
        align-content: center;
    }
}

/* SIDE NAVIGATION */

nav {
    display: block;
    position: fixed;
    padding: 20px;
    width: 300px;
}

nav.sidebarcontainer {
    height: 100%;
    background-color: var(--sidebar);
    overflow: auto;
}

.sidebarimg {
    width: 100%;
    border-radius: 5px;
    align-self: center;
}

.sidebarcontainer > h1 {
    margin: 10px 0;
    font-family: 'Playfair Display', 'Times', 'serif';
    font-size: 150%;
    font-weight: bold;
}

h1.job {
    font-size: 80%;
}

.sidebarcontainer > p {
    font-size: 75%;
}

/* The links in the navigation have specific layout since it's in the side bar*/
.navlinks {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 75%;
    margin: 5%;
    width: auto;
}

/* ALL LINKS */
a:link {
    color: var(--darkcolor);
    text-decoration: none;
}

a:hover {
    background-color: var(--rasberry);
    color: var(--orange);
    text-decoration: none;
}

a:visited {
    color: var(--orange);
    text-decoration: none;
}

a:active {
    background-color: var(--cherry);
    color: var(--light)
}

.material-icons {
    color: var(--cherry);
}

/* BUTTON */
button {
    border: 2px solid var(--cherry);
    color: var(--cherry);
    text-align: center;
    font-size: 21;
    width: auto;
}

button:hover {
    border: 2px solid var(--rasberry);
    color: var(--rasberry);
    background-color: var(--cherry);
    cursor: pointer;
}

/* MAIN CONTENT STYLING */
main {
    margin-left: 350px;
    background-color: var(--background);
    width: auto;
    padding: 15px;
}

section > .about, .portfolio, .contact {
    margin-bottom: 25px;
}

h2, h3 {
    font-family: Playfair Display;
    font-size: 150%;
}

/* ABOUT SECTION */
.about {
    display: block;
}

.about > p {
    font-size: 60%;
}


/* PORTFOLIO */


.portfolioimg {
    width: 200px;
    height: auto;
}

h4 {
    font-family: Playfair Display;
    font-size: 90%;
}

.portfoliocontainer {
    display: flex;
    flex-flow: row;
}

.tile {
    flex-basis: fit-content;
    margin: 5px;
    padding: 5px;
    background-color: var(--light);
}

/* CONTACT SECTION */
ul {
    display: inline-block;
}

/* FOOTER 
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* CONTACT FORM maybe best to not have the contact form on the side bar and keep it on the bottom of the web page to meet acceptance requirements...note self: redo this CSS code once you have corrected the index.html
article > form {
    display: flex;
    flex-flow: column wrap;
    align=content: flex-start;
    align-items: center;
    justify-content: center;
  }

fieldset {
    height: auto; 
    width: 500px; 
    font-size:21px;
  }

input, select {
    display: inline-block;
    vertical-align: middle;
    margin: 8px 5px 5px 5px; 
    font-size: 14px;
  }