/* COLORS */

:root {
    --darkcolor: #040406;
    --background: #dfdede;
    --light: #ffffff;
    --rasberry: #9e0059;
    --cherry: #ff0054;
    --orange: #e38125;
}

/* BODY */

body {
    width: 100%;
    background-color: var(--light);
    color: var(--dark-color);
    font-size: 100%;
    line-height: 1.5;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', 'Libre Baskerville', 'Century', 'Garamond', serif;
    font-size: 150%;
}

h4,
p {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

p {
    font-size: 75%;
}

h4 {
    font-size: 90%;
    font-weight: bolder;
    color: var(--rasberry);
    margin: 0;
}


/* ALL LINKS */
a:link {
    color: var(--dark);
    text-decoration: none;
}

a:hover {
    /*background-color: var(--rasberry);*/
    color: var(--rasberry);
    text-decoration: underline;
}

a:visited {
    color: var(--orange);
    text-decoration: none;
}

a:active {
    background-color: var(--cherry);
    color: var(--light)
}

.material-icons {
    color: var(--cherry);
}

/* SIDE NAVIGATION */

nav {
    display: block;
    position: fixed;
    padding: 20px;
    width: 300px;
}

.sidebarcontainer {
    height: 100%;
    background-color: var(--light);
    overflow: auto;
    border: 5px solid (var(--rasberry));
}

.sidebarimg {
    max-width: 100%;
    border-radius: 5px;
    align-self: center;
}

.sidebarcontainer>h1 {
    margin: 10px 0;
    font-weight: bold;
}

h1.job {
    font-size: 100%;
}

/* The links in the navigation have specific layout since it's in the side bar*/
.navlinks {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 100%;
    margin: 5%;
    width: 30%;
}

/* MAIN CONTENT STYLING */
main {
    margin-left: 350px;
    background-color: var(--background);
    width: auto;
    padding: 15px;
}

section {
    margin-bottom: 25px;
}

/* ABOUT SECTION */
.about {
    display: block;
    inline-size: 95%;
}

/* PORTFOLIO */

section>.portfoliocontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.center{
    justify-content: center;
    align-items: center;
}

.tile {
    margin: 5px;
    padding: 5px;
    background-color: var(--light);
    border-radius: 3px;
    justify-content: space-evenly;
}

.tile:hover {
    background-color: var(--light);
}

.big {
    flex: 1 0 80%;
    justify-content: space-evenly;
}

/* RESPONSIVE IMAGES  */
.portfolioimg {
    border-radius: 3px;
    width: 100%;
    max-width: 300px;
    overflow: clip;
}

/* CONTACT SECTION */
section.contact {
    display: inline-block;
}

p.border>a:link {
    border: 2px solid var(--cherry);
    background-color: var(--light);
    padding: 10px;
}

p.border>a:hover {
    border: 2px solid var(--cherry);
    background-color: var(--orange);
    color: var(--light);
    padding: 10px;
}

p.border>a:visited {
    border: 2px solid var(--cherry);
    background-color: var(--light);
    padding: 10px;
}

/* FOOTER > SOCIAL MEDIA*/
.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    color: var(--light);
    background-color: var(--rasberry);
}

.social>p {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    margin-left: 10px;
}

.social>p>a:link,
.social>p>a:visited {
    color: var(--light)
}

.social>a:hover {
    background-color: var(--light);
    color: var(--darkcolor)
}

/* MEDIA QUERIES */

/* TABLET */
@media screen and (max-device-width: 820px) and (min-device-width: 768px) {

    nav {
        padding: 15px;
        width: 200px;
        margin-top: 25px;
    }

    main {
        margin-left: 250px;
        background-color: var(--background);
        width: auto;
        padding: 15px;
    }

    .tile {
        max-width: 200px;
    }

    img {
        max-width: 200px;
    }

    footer {
        display: block;
        width: 100%;
        margin: 0px;

    }
}

/* MOBILE */
@media screen and (max-device-width: 767px) and (min-device-width: 280px) {

    body,
    main,
    section>.about,
    section>.porfolio,
    section>.contact,
    footer {
        display: block;
        margin: 0px;
        padding: 5px;
        height: auto;
        width: 100%;
        font-size: 12px;
    }

    h1,
    h2,
    h3 {
        font-size: 14px;
    }

    nav {
        margin: 0;
        position: static;
        background-color: var(--light);
    }

    .tile {
        max-width: 200px;
        height: 50%;
    }

    .big {
        flex: none;
    }

    img {
        max-width: 150px;
    }

    footer {
        display: block;
        width: 100%;
        margin: 0px;

    }
}

/* Contact Form for future reference
article > form {
    display: flex;
    flex-flow: column wrap;
    align=content: flex-start;
    align-items: center;
    justify-content: center;
  }

fieldset {
    height: auto; 
    width: 500px; 
    font-size:21px;
  }

input, select {
    display: inline-block;
    vertical-align: middle;
    margin: 8px 5px 5px 5px; 
    font-size: 14px;
  } */