/* EVERYTHING */

:root {
    --darkcolor: #040406;
    --background: #dfdede;
    --light: #ffffff;
    --rasberry: #9e0059;
    --cherry: #ff0054;
    --orange: #e38125;
}

/* BODY */

body {
    width: 100%;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: var(--light);
    color: var(--dark-color);
    font-size: 100%;
    line-height: 1.5;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display', 'Optima', 'Garamond', serif;
}

p,
h4 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/* SIDE NAVIGATION */

nav {
    display: block;
    position: fixed;
    padding: 20px;
    width: 300px;
}

nav.sidebarcontainer {
    height: 100%;
    background-color: var(--light);
    overflow: auto;
}

.sidebarimg {
    width: 100%;
    border-radius: 5px;
    align-self: center;
}

.sidebarcontainer>h1 {
    margin: 10px 0;
    font-family: 'Playfair Display', 'Times', 'serif';
    font-size: 150%;
    font-weight: bold;
    border-bottom: 1px solid (var(--rasberry));
}

h1.job {
    font-size: 100%;
}

.sidebarcontainer>p {
    font-size: 75%;
}

/* The links in the navigation have specific layout since it's in the side bar*/
.navlinks {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 90%;
    margin: 5%;
    width: auto;
}

/* ALL LINKS */
a:link {
    color: var(--dark);
    text-decoration: none;
}

a:hover {
    /*background-color: var(--rasberry);*/
    color: var(--rasberry);
}

a:visited {
    color: var(--orange);
    text-decoration: none;
}

a:active {
    background-color: var(--cherry);
    color: var(--light)
}

.material-icons {
    color: var(--cherry);
}

/* MAIN CONTENT STYLING */
main {
    margin-left: 350px;
    background-color: var(--background);
    width: auto;
    padding: 15px;
}

section {
    margin-bottom: 25px;
}

h2,
h3 {
    font-size: 150%;
}

/* ABOUT SECTION */
.about {
    display: block;
    inline-size: 95%;
    overflow: ;
}

.about>p {
    font-size: 80%;
}


/* PORTFOLIO */

h4 {
    font-size: 90%;
    font-weight: bolder;
    color: var(--rasberry);
    margin: 0;
    margin-left: 42.5%;
}

section>.portfoliocontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.tile {
    margin: 5px;
    padding: 5px;
    background-color: var(--light);
    border-radius: 3px;
    justify-content: space-evenly;
}

.tile:hover {
    background-color: var(--light);
}

.big {
    width: 79%;
}

#bigtile {
    margin-left: 25%;
}

/* RESPONSIVE IMAGES  */
.portfolioimg {
    border-radius: 3px;
    width: 100%;
    max-width: 400px;
    overflow: clip;
}

/* CONTACT SECTION */
div>.button {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: baseline;
    font-size: 12px;
}

/* CONTACT BUTTONS*/

button {
    margin: 0;
    padding: 0px;
}

button a:link {
    border: 2px solid var(--cherry);
    background-color: var(--light);
    padding: 10px;
}

button a:hover {
    border: 2px solid var(--cherry);
    background-color: var(--orange);
    color: var(--light);
    padding: 10px;
}

/* FOOTER > SOCIAL MEDIA*/
.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    color: var(--light);
    background-color: var(--rasberry);
}

.social>i {
    margin: 10px;
}

.social>a:link,
.social>a:visited {
    color: var(--light)
}

.social>a:hover {
    background-color: var(--light);
    color: var(--darkcolor)
}

/* MEDIA QUERIES */
@media screen and (max-device-width: 768px) and (min-device-width: 360px) {

    body,
    main,
    section>.about,
    section>.porfolio,
    section>.contact,
    footer {
        display: block;
        margin: 0px;
        padding: 5px;
        height: auto;
        width: 100%;
        font-size: 14px;
        background-color: var(--light);
    }

    h1,
    h2,
    h3 {
        font-size: 14px;
    }

    nav {
        position: static;
        background-color: var(--light);
    }

    .tile {
        max-width: 320px;
        height: 50%;
    }

    img {
        max-width: 200px;
    }

    .contact {
        display: none;
    }

    footer {
        display: block;
        width: 100%;
        margin: 0px;
    }
}

/* Contact Form for future reference
article > form {
    display: flex;
    flex-flow: column wrap;
    align=content: flex-start;
    align-items: center;
    justify-content: center;
  }

fieldset {
    height: auto; 
    width: 500px; 
    font-size:21px;
  }

input, select {
    display: inline-block;
    vertical-align: middle;
    margin: 8px 5px 5px 5px; 
    font-size: 14px;
  } */